{% extends "base.html" %}
{% block body %}
{% load static %}
        <!-- Page Header-->
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="post-heading">
                            <h1>{{board_detail.title}}</h1><br>
                            <div>
                                <i class="far fa-eye"> {{board_detail.view_count}}</i>
                                &nbsp;
                                <i class="far fa-thumbs-up"> {{board_detail.like_count}}</i>
                            </div>
                            <a href="#!">{{board_detail.writer}}</a>
                            &nbsp;{{board_detail.created_at}}
                            </a>
                            <hr class="my-4" />
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <p>{{board_detail.contents|linebreaks}}</p> 
                        <!--안넣으면 띄어쓰기안됨-->
                        {% if board_detail.img %}
                        <img class="img-fluid" src="{{board_detail.img.url}}" alt="" /></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <a href="{% url 'like:post_like_toggle' post.id %}">
                        {% if post in user.boardmember.like_posts.all %}
                            취소
                        {% else %}
                            좋아요
                        {% endif %}
                    </a>
                </div>   
            </div>
        </div>
{% endblock body %}