{% extends "base.html" %}
{% block body %}
{% load static %}
        <!-- Page Header-->
            <div class="container position-relative px-4 px-lg-1">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{post_detail.title}}</h1><br>
                             <a>조회수:{{post_detail.viewCount}} &nbsp;좋아요:{{post_detail.likeCount}}</a><br>
                            <a>Posted by
                                <a href="#!">{{post_detail.writer}}</a>
                                &nbsp;{{post_detail.created_at}}
                            </a>
                            <hr class="my-4" />
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-1">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>{{post_detail.contents|linebreaks}}</p> 
                        <!--안넣으면 띄어쓰기안됨-->
                        {% if post_detail.img %}
                        <img class="img-fluid" src="{{post_detail.img.url}}" alt="" /></a>
                        {% endif %}
                        <p>{{post_detail.category.names.0}}</p>
                    </div>
                </div>
            </div>
        </article>
        <div class="container position-relative px-4 px-lg-1">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div id="disqus_thread"></div>
                    <script>
                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://blog-aqnqrrotho.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </div>
            </div>
        </div>
{% endblock body %}